# Extracting data from relational databases

### SQLite Database

#### Import package

In [1]:
import sqlite3

#### Connect to database

In [ ]:
#create a connection to a database / create the database if not avaliable 
connection = sqlite3.connect("classroomDB.db")
connection.close()

#### Create table

In [ ]:
#open connection 
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
#query for creating table
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                physics_marks INTEGER,
                mathematics_marks INTEGER
                );"""
#execute query
cursor.execute(create_table)
#commit changes
connection.commit()
#close connection
connection.close()

#### Insert data

In [2]:
#sample data
classroom_data = [(1,"Artem","M",70,84,92),
                 (2,"Jack","M",90,54,94),
                 (3,"Joe","M",29,63,46),
                 (4,"Alex","M",99,66,88)]
#open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
#insert each student record 
for student in classroom_data:
    print(student)
    #formatted query string 
    insert_statement = """INSERT INTO classroom (student_id, name, gender, physics_marks, physics_marks, mathematics_marks) 
    VALUES (%d,'%s','%c',%d,%d,%d);""" % (student[0],student[1],student[2],student[3],student[4],student[5])

    print(insert_statement)
    cursor.execute(insert_statement)  
        
#commit changes
connection.commit()
#close connection
connection.close()

(11, 'Artem', 'M', 70, 84, 92)
INSERT INTO classroom (student_id, name, gender, physics_marks, physics_marks, mathematics_marks)
    VALUES (11,'Artem','M',70,84,92);
(2, 'Jack', 'M', 90, 54, 94)
INSERT INTO classroom (student_id, name, gender, physics_marks, physics_marks, mathematics_marks)
    VALUES (2,'Jack','M',90,54,94);
(3, 'Joe', 'M', 29, 63, 46)
INSERT INTO classroom (student_id, name, gender, physics_marks, physics_marks, mathematics_marks)
    VALUES (3,'Joe','M',29,63,46);
(4, 'Alex', 'M', 99, 66, 88)
INSERT INTO classroom (student_id, name, gender, physics_marks, physics_marks, mathematics_marks)
    VALUES (4,'Alex','M',99,66,88);

#### Extract data

In [4]:
#open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
#query
query = "SELECT * FROM classroom"
#execute query
cursor.execute(query) 
#fetch result
result=cursor.fetchall()
#print results
for row in result:
    print(row)
    
#close connection
connection.close()

(1, 'Artem', 'M', 90, None, 99)
(2, 'Jack', 'M', 90, None, 94)
(3, 'Joe', 'M', 29, None, 46)
(4, 'Alex', 'M', 99, None, 88)
(11, 'Artem', 'M', 70, None, 92)

### Microsoft SQL Server database

#### Install package

In [1]:
import pymssql

#### Connect to database

In [ ]:
cnx= {
      'host': 'mssqldb.c12wj3xlqsae.us-west-2.rds.amazonaws.com:1433',
      'username': 'test',
      'password': 'test123456',
      'db': 'tempDB'} 

conn = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
conn.close()

#### Create table

In [ ]:
# open connection
connection = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
# open cursor
cursor = connection.cursor()
# query for creating table
create_table = """
                CREATE TABLE classroom ( 
                student_id INTEGER PRIMARY KEY, 
                name VARCHAR(20), 
                gender CHAR(1), 
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
              );"""
# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection
connection.close()

#### Inser data

In [ ]:
# sample data
classroom_data = [( 1, "Raj","M", 70, 84, 92),
                  ( 2, "Poonam","F", 87, 69, 93),
                  ( 3, "Nik","M", 65, 83, 90),
                  ( 4, "Rahul","F", 83, 76, 89)]
# open connection
connection = pymssql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )
# open cursor
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom (student_id, name, gender, physics_marks, physics_marks, mathematics_marks) 
    VALUES (%d,'%s','%c',%d,%d,%d);""" % (student[0],student[1],student[2],student[3],student[4],student[5])
    # execute insert query
    cursor.execute(insert_statement)

# commit the changes
connection.commit()
# close the connection
connection.close()

#### Extract data

In [ ]:
# open connection
connection = pymssql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )
# open cursor
cursor = connection.cursor()
# query
query = "SELECT * FROM classroom"
# execute query
cursor.execute(query) 
# fetch results
result = cursor.fetchall() 
# print results
for row in result:
    print(row)
# close connection
connection.close()